* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a9cf87;
}

.please {
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #809d66;
}

.nav-links a {
  color: #f0dbbc;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 20px;
}

.nav-links li {
  display: inline-block;
  padding-right: 25px;
  margin-left: 10px;
}

#logo {
  height: 75px;
}

#frame {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 45vw;
  height: 100vh;
  margin: auto;
  background-color: #442b06;
}

#shelf1 {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 40vw;
  height: 25vh;
  margin: auto;
  background-color: #201505;
  align-items: end;
}

#shelf2 {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  width: 40vw;
  height: 25vh;
  margin: auto;
  background-color: #201505;
  align-items: end;
}

#shelf3 {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  width: 40vw;
  height: 25vh;
  margin: auto;
  background-color: #201505;
  align-items: end;
}

.layout {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  justify-content: center;
  text-align: center;
}

#shelf1 div img {
  width: 100%;
}
