/* 
Colour Palette
#F1F7ED - Almost White
#243E36 - Dark Green
#7CA982 - Light Green
#E0EEC6 - Mint
#C2A83E - Gold
 */

/* ----------------------------------------------- All Page Formatting ---------------------------------------------------- */

/* Resetting the margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Setting the background colour */
body {
  background-color: #f1f7ed;
}

/* Setting the font size and the font colour of "WaterLogged" on the navbar */
.please {
  font-size: 50px;
  color: #c2a83e;
}

/* Navbar formatting */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #243e36;
}

/* Navbar formatting */
.nav-links {
  display: flex;
  list-style: none;
  font-size: 20px;
}

/* Navbar links formatting */
.nav-links li {
  display: inline-block;
  padding-right: 25px;
  margin-left: 10px;
}

/* Navbar links colour */
.nav-links a {
  color: #f1f7ed;
}

/* Setting logo size */
#logo {
  height: 75px;
}

#frame {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 45vw;
  height: 100vh;
  margin: auto;
  background-color: #442b06;
}

#shelf1 {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 40vw;
  height: 25vh;
  margin: auto;
  background-color: #201505;
  align-items: end;
}

#shelf2 {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  width: 40vw;
  height: 25vh;
  margin: auto;
  background-color: #201505;
  align-items: end;
}

#shelf3 {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  width: 40vw;
  height: 25vh;
  margin: auto;
  background-color: #201505;
  align-items: end;
}

.layout {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  justify-content: center;
  text-align: center;
}

#shelf1 div img {
  width: 100%;
}

.please {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

table, th, td {
  border:5px solid black;
}


